h1{
	font-size: 45px;
	color: green;
	text-align: center;
	text-decoration: underline;
}

p{
	text-align : justify;
	color:gray;
	font-size:18px;
}

input{
	display: block;
	width: 30%;
}

textarea{
	width: 80%;
	display: block;
}